# Assignment 1:
### - The automated_stat_analyzer Function
- Scenario: A retail company needs a utility to quickly summarize sales data. Students must create a function that identifies the 
"Central Tendency" and "Dispersion" of any numerical column.
- ### Requirements:

* Accept a Pandas DataFrame and a column name.

* Calculate the Mean, Median, and Standard Deviation .

* Identify if the data is "Skewed" by comparing the Mean and Median.


* Bonus: If the column is categorical, return the Mode instead.

### Your Data

In [ ]:
import pandas as pd
import numpy as np

# Create a synthetic Company Sales Dataset
data = {
    'Transaction_ID': range(1, 11),
    'Product_Category': ['Electronics', 'Home', 'Electronics', 'Sports', 'Home', 
                         'Electronics', 'Home', 'Sports', 'Electronics', 'Electronics'],
    'Sales_Amount': [150, 200, 155, 300, 210, 180, 205, 1000, 190, 160], # 1000 is an Outlier
    'Customer_Age': [25, 34, np.nan, 45, 23, 31, 29, np.nan, 38, 40],    # Contains Nulls (NaN)
    'Rating': [5, 4, 3, 5, 2, 4, 5, 2, 4, 3]
}

df_test = pd.DataFrame(data)

# Save to CSV for students to practice loading files [cite: 74]
df_test.to_csv('company_sales_test.csv', index=False)
print("Test dataset created successfully!")

Test dataset created successfully!

In [2]:
df_test.head()

   Transaction_ID Product_Category  Sales_Amount  Customer_Age  Rating
0               1      Electronics           150          25.0       5
1               2             Home           200          34.0       4
2               3      Electronics           155           NaN       3
3               4           Sports           300          45.0       5
4               5             Home           210          23.0       2

In [ ]:
import pandas as pd

def automated_stat_analyzer(df, column_name):
    """
    Company Task: Provide a summary report of a specific data variable.
    
    Instructions:
    1. Check if the column is numerical or categorical.
    2. For numerical: Calculate Mean, Median, and Standard Deviation.
    3. For categorical: Calculate the Mode.
    4. Return a dictionary with these statistical measures.
    """

    if pd.api.types.is_numeric_dtype(df[column_name]):
        mean = df[column_name].mean()
        median = df[column_name].median()
        std = df[column_name].std()

        if abs(mean - median) < 0.01:
            skewness = "symmetric"
        elif mean > median:
            skewness = "positive skewed"
        else:
            skew_label = "negative skewed"

        return {
            "mean" : mean,
            "median" : median,
            "standard dev" : std,
            "skewness" : skewness
        }
    
    else:
        mode = df[column_name].mode()

        return{
            "type" : "categorical",
            "mode" : mode[0]
        }

df_test = pd.read_csv("company_sales_test.csv")
print(automated_stat_analyzer(df_test, 'Sales_Amount'))
    
    #todo:Implement using df[column_name].mean(), .median(), .std(), or .mode()  you can used Sales_Amount for your test case

## Assignment 2: 
  ### The null_handling_strategy Function

#### Scenario: Incoming user data often has missing values.Students must implement a flexible strategy to handle these "Null Values" to prepare data for Machine Learning.
### Requirements:

* Check for null values in the DataFrame.

* Apply a strategy based on parameters: "drop_rows", "fill_mean", or "fill_median" .

* Ensure the function only fills numerical columns when using mean or median.

In [ ]:
import pandas as pd

def null_handling_strategy(df, strategy="fill_mean"):
    """
    Cleans the dataset by resolving missing values based on the chosen strategy.
    """
    null_count = df.isnull().sum().sum()
    print(f"Total null values found: {null_count}")

    if strategy == "drop_rows":
        df_cleaned = df.dropna()
        
    elif strategy in ["fill_mean", "fill_median"]:
        df_cleaned = df.copy()
        num_cols = df_cleaned.select_dtypes(include=['number']).columns
        
        for col in num_cols:
            if strategy == "fill_mean":
                fill_value = df_cleaned[col].mean()
            else:
                fill_value = df_cleaned[col].median()
                
            df_cleaned[col] = df_cleaned[col].fillna(fill_value)
            
    else:
        print("Invalid strategy.")
        return df

    return df_cleaned


print("Original Age :", df_test['Customer_Age'].values)

df_filled = null_handling_strategy(df_test, strategy="fill_mean")

print("Cleaned Age (Mean Fill):", df_filled['Customer_Age'].values)