In [21]:
def add(x,y):
    """
    param1 : take first num from user
    type: param1: int
    
    param2 : take second input from user
    type: param2: int
    
    return: sum two number
    type_return: int
    
    """
    return f"num1 is {x},num2 is {y} =",  x+y

In [22]:
add(2,4)

('num1 is 2,num2 is 4 =', 6)

In [30]:
def subt(x,y):
   
    return f"num1 is {x},num2 is {y} =",  x-y
subt(4,2)

('num1 is 4,num2 is 2 =', 2)

In [32]:
def mult(x,y):
       
    return f"num1 is {x},num2 is {y} =",  x*y
mult(2,4)

('num1 is 2,num2 is 4 =', 8)

In [9]:
#positoinal arguments, bahot el x mkan el y aw elaaks
def div(x,y):
       
    return f'num1 is {x}, num2 is {y} =' , x/y
div(2,10)

('num1 is 2, num2 is 10 =', 0.2)

In [ ]:
#key arguments : bthaded fel arg eh el name w eh el age ashan mytbdlosh
def get_info (name,age):
    return f"my name is {name} and my age is {age}"
get_info(age = 20, name = "farida")

'my name is farida and my age is 20'

In [ ]:
#default arg:  bahot el values fel parameters fo2 bas law hahded only one parameter, tkon ely flakher
def std_info(name, age = 20): 
    return f"my name is {name} and my age is {age} "
std_info("farida")

'my name is farida and my age is 20 '

In [ ]:
#variadic argument : returns a tuple
def function1(*name):
    print(name)
    print(type(name))
    
function1("hello","python","Amit",2,2.5,True)

('hello', 'python', 'Amit', 2, 2.5, True)
<class 'tuple'>

In [ ]:
#trying
def tryvariad(*didaname):
    print(didaname)
    print(type(didaname))
tryvariad("farida", "gamal", "elgharbawy")

('farida', 'gamal', 'elgharbawy')
<class 'tuple'>

In [ ]:
#kwargs : returns dict
def function2(**name):
    print(name)
    print(type(name))
    
function2(key1= 10.5, key2 = 2, key3 = "machine learning", key4 = "python")

{'key1': 10.5, 'key2': 2, 'key3': 'machine learning', 'key4': 'python'}
<class 'dict'>

In [24]:
#trying
def trykwargs(**didakwargs):
    print(didakwargs)
    print(type(didakwargs))
trykwargs(name = "farida", name2 = "youssef", nickname = "dida", nickname2 = "joe")

{'name': 'farida', 'name2': 'youssef', 'nickname': 'dida', 'nickname2': 'joe'}
<class 'dict'>

In [53]:
function_name = lambda x:x+10
print(function_name(5))

15

In [54]:
lambda x : x+10

In [55]:
function_name = lambda x:x+10
type(function_name)

function

In [30]:
#trying lambda for add/subt/mult/subt
adding = lambda x, y : x+y
print(adding(5,2))

subtracting = lambda x, y : x-y
print(subtracting(5,2))

multiplying = lambda x, y : x*y
print(multiplying(5, 2))

dividing = lambda x, y : x/y
print(dividing(5, 2))

7
3
10
2.5

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    if num == 1:
        return 1
    return num * factorial(num-1)

factorial(5)

120

In [32]:
#trying factorial
def facttry(numtry):
    if numtry == 0 or numtry == 1:
        return 1
    return numtry * facttry(numtry - 1)
facttry(5)

120

In [60]:
def isprime(num):
    for i in range(2,num):
        if num % i == 0:
            return False
    return True
isprime (20)

False

In [35]:
def primetry(primetry):
    for i in range (2, primetry):
        if primetry % i == 0:
            return "Not a prime number"
        return "Prime Number"
primetry(3)

'Prime Number'

In [36]:
def dividors(num1, num2):
    """
    takes 2 numbers, then gets the min among them
    checks if the 2 numbers have remainders or not
    if they are divisible, values are appended inside the empty list
    """
    
    mn = min(num1,num2)
    common_div = []
    for i in range(1, mn+1):
        if num1 % i == 0 and num2 % i == 0:
            common_div.append(i)
    return common_div
dividors(2,4)

[1, 2]

In [42]:
#trying common dividors>> elarkam ely mmkn t get divided by elrkmeen ely maana
#bngeb ell min mbnhom ashan ehna bngeb common div fa  mostahel elrkm el kber ykon aando same div as el soghyr

def divtry(div1try, div2try):
    divmin = min(div1try, div2try)
    divtryempty = []
    for i in range(1, divmin+1):
        if div2try % i == 0 and div1try % i == 0:
            divtryempty.append(i)
    return divtryempty
divtry(12,8)

[1, 2, 4]

In [71]:
eveen=[]
def even_fun(num):
    for i in range (num):
        if i % 2 ==0:
            print (eveen.append(i))
    return eveen  

even_fun(7)

None
None
None
None

[0, 2, 4, 6]

In [48]:
#even try
def eventry(num):
    if num % 2 == 0:
        print("num is even")
    else:
        print("num is odd")
eventry(3)

num is odd

In [60]:
#even try btre2a diff
evenemppty = []
oddemppty = []
def eventry2(num):
    
    for i in range(num):
        if i % 2 == 0:
            evenemppty.append(i)
            #print(evenemppty)
        else:
            oddemppty.append(i)
            #print(oddemppty)
    return evenemppty, oddemppty
        
eventry2(12)

([0, 2, 4, 6, 8, 10], [1, 3, 5, 7, 9, 11])

In [1]:
str1 = input()
str2 = input()

longest_str=""
for i in range(len(str1)):
    #print (i)
    for j in range(i,len (str1)):
        #print (j)
        sub_str = str1[i:j+1]
        print (sub_str)
        if sub_str in str2:
            if len(sub_str)> len(longest_str):
                
                longest_str=sub_str
                
longest_str

h
hi
hi
hi j
hi jo
hi joe
i
i
i j
i jo
i joe

 j
 jo
 joe
j
jo
joe
o
oe
e

'hi '